.posts {
    font-size: 1.05em;
    margin-left:1em;
}
.header {
    font-size: 1.4em;
    margin:0.5em;
    /*text-transform: capitalize;*/
}
.newPost {
    margin:0.5em;
}

.postsBlock {
    padding: 10px;
}